Source: xbitmaps
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: Cyril Brulebois <kibi@debian.org>
Build-Depends:
 debhelper (>= 11),
 xutils-dev (>= 1:7.5~),
 automake,
Standards-Version: 3.8.3
Vcs-Git: https://salsa.debian.org/xorg-team/data/xbitmaps.git
Vcs-Browser: https://salsa.debian.org/xorg-team/data/xbitmaps

Package: xbitmaps
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Base X bitmaps
 This package contains the base X bitmaps, which are used in many legacy X
 clients.
